/* ============================================================ Transition Page Start ===================== */


@font-face {
    font-family: 'ToyotaType';
    src: url('../toyotaTypeFonts/ToyotaType-Light.woff2') format('woff2'),
         url('../toyotaTypeFonts/ToyotaType-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('../toyotaTypeFonts/ToyotaType-LightIt.woff2') format('woff2'),
         url('../toyotaTypeFonts/ToyotaType-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('../toyotaTypeFonts/ToyotaType-Regular.woff2') format('woff2'),
         url('../toyotaTypeFonts/ToyotaType-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('../toyotaTypeFonts/ToyotaType-RegularIt.woff2') format('woff2'),
         url('../toyotaTypeFonts/ToyotaType-RegularIt.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('../toyotaTypeFonts/ToyotaType-Semibold.woff2') format('woff2'),
         url('../toyotaTypeFonts/ToyotaType-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('../toyotaTypeFonts/ToyotaType-SemiboldIt.woff2') format('woff2'),
         url('../toyotaTypeFonts/ToyotaType-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('../toyotaTypeFonts/ToyotaType-Bold.woff2') format('woff2'),
         url('../toyotaTypeFonts/ToyotaType-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('../toyotaTypeFonts/ToyotaType-BoldIt.woff2') format('woff2'),
         url('../toyotaTypeFonts/ToyotaType-BoldIt.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

:root{
    --danger : #EB0A1E;
    --dark: #101010;
    --Dwhite: #EEEEEE;
    --bgColor: #F5F5F5;
}

body{
    background: var(--bgColor) !important;
    min-height: 100vh;
    overflow-x: hidden;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}

header{
    padding: 0 !important;
}

.logo{
    margin-right: auto;
}

.logo img{
    width: 5.529rem;
    height: 4.375rem;
}

.top-body-line{
    width: 100%;
    height: 0.625rem;
    background-color: var(--dark);
    position: fixed;
    top: 0;
    z-index: 6;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 6;
    background: #F5F5F5;
    margin-bottom: 10rem;
}
.blog-pagination nav{
    position: relative;
    margin-bottom: 0 !important;
    align-items: center;
}
.blog-pagination nav div{
    display: flex;
    justify-content: flex-end !important;
}
.blog-pagination nav div:last-child{
    display: none;
}
.blog-pagination a {
    color: var(--danger);
    margin: 0 10%;
}

.pagination {
    justify-content: end !important;
}

.pagination a{
    background-color: transparent !important;
    border: none !important;
    text-decoration: none;
    font-size: 18px;
}
.pagination a:first-child {
    display: none;
}

.pagination span{
    display: none;
}

/* .pagination #pagination .next { display:none; } */

/* .pagination a{
    display: none;
} */

.accordion-item:not(.dealer-accordion>*){
    background-color: transparent !important;
    border-color: #101010 !important;
}

.accordion-button{
    background-color: transparent !important;
}

.accordion{
    border-bottom: 1px solid #101010;
}
.accordion-button:not(.collapsed){
    color: #000 !important;
}
.blog-accordion .accordion-button::after{
    content: "\2b";
    font-family: "Font Awesome 5 Free";
    color: red;
    font-size: large;
    font-weight: 900;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-accordion .accordion-button:not(.collapsed)::after{
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    color: red;
    font-size: large;
    font-weight: 900;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dealer-accordion .accordion-item:not(.opening-hours){
    border-color: #0005 !important;
}
.dealer-accordion .accordion-button:not(.opening-hours)::after{
    content: "";
    border: 1px solid #0009;
    background-color: #fff;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-image: none !important;
}
.dealer-accordion .accordion-item:has(.accordion-collapse.show:not(.opening-hours)) .accordion-button:not(.opening-hours)::after{
    content: "";
    border: 2px solid #fff;
    /* border: 1px solid #000; */
    background-color: var(--danger);
    border-radius: 50%;
    outline: 1px solid var(--danger);
    animation: 0.3s ease zoomIn;
}
@keyframes zoomIn{
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}
.dealer-accordion .accordion-header:hover{
    background-color: #0001;
}


.trans-page-main{
    padding-top: 3rem;
}

.big-screen-nav-container{
    display: flex;
}

.small-screen-nav-container{
    display: none;
}

.hamburger-menu-btn{
    all: unset;
}

.drop-down-menu{
    display: none;
}

nav ul{
    list-style: none;
    padding: 0;
}

.middle-nav-container{
    margin-right: auto;
}

.middle-nav{
    gap: 66px;
    margin: 0;
}

.middle-nav li a, .global-link{
    font-family: 'ToyotaType';
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    display: inline-flex;
    color: var(--dark);
    position: relative;
}

.middle-nav li a:hover, .small-screen-nav a:hover, .global-link:hover{
    color: var(--dark);
}

.middle-nav li a::after, .global-link::after{
    position: absolute;
    content: '';
    bottom: -0.063rem;
    width: 100%;
    height: 0.031rem;
    background-color: var(--dark);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}
.global-link::after{
    transform: scaleX(1);
}
.global-link:hover::after{
    transform: scaleX(0);
    transform-origin: left;
}
.middle-nav li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.social-links-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links{
    list-style: none;
    margin: 0;
    align-items: center;
    padding-left: 0;
}

.social-links li, .social-links a{
    width: 1.875rem;
    height: 1.875rem;
}

.social-links i{
    gap: 5px;
    color: var(--dark);
    font-size: large;
}

.transition-page-container{
    position: relative;
    overflow: hidden;
    padding-top: 1.5rem;
}

.transition-page-img{
    width: 100%;
    height: 100%;
}

.zoom-out-img{
    transform: scale(1.07);
    transition: transform 1s ease;
}

.zoom-out-img.zoom-out{
    transform: scale(1);
}

.transition-page-text-container{
    position: absolute;
    width: 32.625rem;
    padding: 0.9rem 2rem;
    right: 1.188rem;
    bottom: 1.75rem;
}

.transition-page-text-container::before{
    position: absolute;
    content: '';
    width: 95%;
    height: 0.25em;
    right: 0;
    top: 0;
    background-color: white;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.8s ease;
}

.transition-page-text-container.show-border::before{
    transform: scaleX(1);
}

.transition-page-text-container::after{
    position: absolute;
    content: '';
    width: 0.25em;
    height: 100%;
    right: 0;
    top: 0;
    background-color: white;
    transform-origin: top;
    transform: scaleY(0);
    transition-delay: 0.8s !important;
    transition: transform 0.8s ease;
}

.transition-page-text-container.show-border::after{
    transform: scaleY(1);
}

.slideUpAnimation-text{
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.promotion-texts-container .slideUpAnimation-text{
    color: var(--dark);
}

.slideUpAnimation-text.animate__slideInUp{
    opacity: 1;
}

.transition-page-text.header-text{
    font-family: 'ToyotaType';
    font-weight: 600;
    font-size: 3.125rem;
    text-align: left;
}

.transition-page-text.small-text{
    font-family: 'ToyotaType';
    font-weight: 300;
    font-size: 1.375rem;
    text-align: left;
    float: left;
    transition-delay: 0.3s !important;
}

/* Promotion */
.page-header{
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 1.875rem;
    font-family: 'ToyotaType';
    font-style: normal;
    font-weight: 600;
}

.carousel{
    position: relative;
}

.carousel button{
    width: 1.875rem;
    height: 1.875rem;
    background-color: var(--dark);
    opacity: 1 !important;
}

.carousel .carousel-control-prev, .carousel .carousel-control-next{
    position: absolute;
    top: 50%;
}

.carousel .carousel-control-prev{
    left: 1.875rem;
}

.carousel .carousel-control-next{
    right: 1.875rem;
}

/* Blog */
.blog-item{
    height: 31.25rem;
    overflow: hidden;
}

.blog-img-container{
    height: 50%;
    overflow: hidden;
}

.blog-item img{
    width: 100%;
    height: 100%;
}

.blog-item .blog-header{
    font-family: 'ToyotaType';
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*  number of lines to show */
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog-item p{
    font-family: 'ToyotaType';
    font-weight: 300;
    font-size: 1rem;
    line-height: 2em;
    margin-bottom: 1.25em;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}

.blog-item .blog-link{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: 0.95rem;
    font-family: 'ToyotaType';
    border-top: 1px solid var(--danger);
    border-right: 1px solid var(--danger);
    text-decoration: none;
    color: var(--danger) !important;
    padding: 0.313em 1em;
    z-index: 2;
}

.blog-item .blog-link:hover{
   color: var(--danger) !important;
}

.blog-item .blog-text-container{
    position: relative;
    height: 51.5%;
    background-color: var(--dark);
    color: white;
    padding: 1.125em 1.563em 1.125em 1.125em;
}

.blog-text-container p{
    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*  number of lines to show */
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

.media-scroller-container{
    position: relative;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.blog .owl-prev, .blog .owl-next{
    background-color: var(--danger) !important;
}

.owl-prev, .owl-next{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #767676 !important;
    z-index: 2;
    top: 45%;
}

.owl-prev{
    left: 25px;
}

.owl-next{
    right: 25px;
}

.owl-prev > i, .owl-next > i{
    color: white;
}

.snaps-inline > *{
    scroll-snap-align: start !important;
}

/* Back to top */
.back-to-top a{
    color: var(--dark);
}

.back-to-top a:hover{
    color: var(--dark);
}


/* Footer */
footer{
    padding: 0 !important;
}

footer .footer-top{
    border-top: 10px solid var(--danger);
    background: var(--dark);
    padding-top: 60px;
    padding-left: 132px;
    padding-right: 132px;
}

.contact-info-container-small-screen{
    display: none;
}

.contact-info.contact-header > div{
    font-family: 'ToyotaType';
    font-weight: 700;
    font-size: 1.2rem;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toyota-text{
    color: var(--danger);
}

.contact-info div{
    padding: 2px;
    flex-basis: 290px;
    color: white;
}

.contact-info .second-col{
    padding-left: 2rem !important;
}

.contact-info .join-us{
    text-align: center;
}

.contact-info a{
    font-family: 'ToyotaType' !important;
    font-weight: 400 !important;
    font-size: 16px;
    position: relative;
    display: inline-flex;
}

.contact-info a, .contact-info i{
    text-decoration: none !important;
    color: white;
    list-style: none !important;
    margin: 0;
}

.contact-info .social-links a::after{
    content: none;
}

.contact-info a:hover{
    color: white;
}

.contact-info a::after{
    position: absolute;
    content: '';
    bottom: -1px;
    width: 100%;
    height: 0.5px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}

.contact-info a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.notice-text-container{
    margin-top: 165px;
    max-width: 370px;
    padding-bottom: 15px;
}

.notice-text-container span{
    font-family: 'ToyotaType';
    font-weight: 400;
    font-size: 12px;
    color: white;
}

.footer-line{
    width: 100%;
    height: 1px;
    background-color: var(--danger);
    padding: 0;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px 132px 30px 132px;
    background: var(--dark);
}

.footer-bottom span{
    font-family: 'ToyotaType';
    font-weight: 400;
    color: white;
}

footer .social-links{
    gap: 20px;
}

footer .social-links li{
    width: 1.5rem;
    height: 1.5rem;
}

footer .social-links i{
    gap: 20px;
    color: white;
    font-size: 25px;
}

/* Inquiry Form */

.inq-section-container{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.inq-form
{
    border: none !important;
    border-radius: 0 !important;
}

.form-head
{
    font-family: 'ToyotaType';
    font-weight: 700;
}

.txt
{
    font-family: 'ToyotaType';
    font-weight: 400;
    color:#595959;
    font-size: 1rem;
}

.form-hl
{
    font-family: 'ToyotaType';
    font-weight: 700;
}

.inq-form .form-group span{
    font-family: 'ToyotaType';
    font-weight: 400;
}


.inq-form .form-group input, .inq-form .form-group textarea, .inq-form .form-group span::-webkit-input-placeholder {
    font-family: 'ToyotaType';
    font-weight: 400;
}

.inq-form .form-group input, .inq-form .form-group textarea, .inq-form .form-group span:-ms-input-placeholder {
    font-family: 'ToyotaType';
    font-weight: 400;
}

.inq-form .form-group input, .inq-form .form-group textarea, .inq-form .form-group span:-moz-placeholder {
    font-family: 'ToyotaType';
    font-weight: 400;
}

.inq-form .form-group input, .inq-form .form-group textarea, .inq-form .form-group span::-moz-placeholder {
    font-family: 'ToyotaType';
    font-weight: 400;
}

.country-code{
    background: transparent;
    border: none;
}

.country-code:active, .country-code:focus{
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.group-phone {
    border: 1px solid #ced4da;
    background-color: #f2f2f2;
    width: auto;
}

.group-phone :focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.group-phone input {
    display: inline-block;
    width: auto;
    border: none;
}

.group-phone input:focus {
    box-shadow: none;
}

.txtfield {
    border-radius:0 !important;
    background-color:#f2f2f2 !important;
}

.phone-input{
    background-color:#f2f2f2 !important;
}

/* .inq-form .form-group .sub-butn{
    font-family: 'ToyotaType';
    font-weight: 600;
    border-radius:0;
    padding-left:50px;
    padding-right:50px;
    background-color: var(--danger);
    color: white;
} */

.btn{
    font-family: 'ToyotaType' !important;
    font-weight: 600 !important;
    border-radius:0 !important;
    padding: 0.5em 2em !important;
}

.btn.icon-btn{
    padding: 0.1em 1em !important;
    border-radius: 5px !important;
}

.btn.btn-danger{
    background-color: var(--danger) !important;
    color: white !important;
}

.btn.btn-outline-danger{
    background: transparent !important;
    color: var(--danger) !important;
    border:  1px solid var(--danger);
}

.btn.btn-outline-danger:hover{
    background-color: var(--danger) !important;
    color: white !important;
}

/* .inq-form .form-group .sub-butn:hover{
    background-color: var(--danger);
} */

.btn-danger:hover{
    background-color: #c00 !important;
}

/* .inq-form .form-group .sub-butn:hover{
    background-color: #d10a1a;
} */


/* Media quaries for tablet size */
@media all and (max-width: 1332px){
    .blog-item{
        height: 28rem;
    }
}

@media all and (max-width : 760px ) {
    .map{
        height: 400px !important;
    }
}

@media all and (max-width: 1233px){
    .blog-item .blog-text-container{
        padding: 0.5rem;
    }

    .blog-item .blog-header{
        
        font-size: 1rem;
        margin-bottom: 0 !important;
    }

    .blog-item p{
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .blog-link{
        font-size: 0.5rem;
        left: 0.5rem;
        bottom: 0.8rem;
    }

    footer .social-links{
        gap: 0.2rem;
    }

    footer .social-links i{
        font-size: large;
    }
}

@media all and (max-width: 985px){

    .logo img{
        width: 3.375rem;
        height: 2.875rem;
    }

    .middle-nav{
        gap: 1rem;
    }

    nav:not(.pagination>*){
        padding: 0 1.875rem;
    }

    .middle-nav li a{
        font-size: 0.875rem;
    }

    .social-links-container{
        gap: 0.625rem;
    }

    .social-links{
        gap: 1rem;
    }

    .social-links li, .social-links a{
        width: 0.625rem;
        height: 0.625rem;
        font-size: 0.625rem;
    }

    .transition-page-container{
        height: 21rem;
    }

    .transition-page-text-container{
        width: 16.188rem;
        padding: 0.8rem 0.8rem;
        right: 1rem;
        bottom: 1rem;
    }

    .transition-page-text-container::before{
        height: 0.188rem;
    }

    .transition-page-text-container::after{
        width: 0.188rem;
    }

    .transition-page-text.header-text{
        font-size: 1.5rem;
    }

    .transition-page-text.small-text{
        font-size: 0.8rem;
    }

    .page-header{
        font-size: 1.125rem;
    }

    .carousel-inner{
        padding: 0 1.875rem 0 1.875rem;
    }

    .carousel-item > img{
        height: 16.25rem;
    }

    .carousel button{
        display: none;
    }

    .owl-prev, .owl-next{
        display: none;
    }

    .media-scroller-container{
        padding: 0 1.875rem 0 1.875rem;
    }

    .blog-item{
        height: 19rem;
    }

    .blog-item .blog-text-container{
        padding: 0.5rem;
    }

    .blog-item .blog-header{
        font-size: 0.75rem;
    }

    .blog-item p{
        font-size: 0.7rem;
        margin-bottom: 0.3rem;
    }

    .blog-item .blog-link{
        font-size: 0.5rem;
    }

    .form-head{
        font-size: 1.125rem;
    }

    .txt{
        font-size: 1rem;
    }

    .form-hl{
        font-size: 1rem;
    }

    .responsive-margin{
        margin-bottom: 1rem;
    }

    footer .footer-top{
        padding: 1.875rem 2rem 0 2rem;
    }

    .contact-info div{
        font-size: 0.875rem;
        text-align: center;
    }

    .contact-info a{
        font-size: 0.75rem;
    }

    footer .social-links{
        gap: 0rem;
    }

    footer .social-links i{
        font-size: larger !important;
    }

    .notice-text-container{
        padding-left: 1.875rem;
        max-width: 22rem;
        padding-bottom: 15px;
    }

    .footer-bottom{
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }

    .footer-bottom span{
        font-size: 0.75rem;
    }
}

/* Media quaries for phone size */
@media all and (max-width: 700px){

    nav{
        position: relative;
        padding: 0 1.375rem;
        margin-bottom: 0;
    }

    .trans-page-main{
        padding-top: 0 !important;
    }

    .top-body-line{
        display: none;
    }

    .drop-down-menu{
        display: block;
        position: absolute;
        width: 100%;
        height: 10.5rem;
        padding: 3.313rem 2rem 0 2rem;
        top: -11rem;
        left: 0;
        background: rgba( 255, 255, 255, 0.25 );
        backdrop-filter: blur( 15px );
        -webkit-backdrop-filter: blur( 15px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        z-index: 2;
        border-bottom: 0.313rem solid var(--dark);
        transition: top 0.5s ease;
    }

    .drop-down-menu.active{
        top: 0;
        position: fixed;
    }

    .logo img{
        width: 3.375rem;
        height: 2.688rem;
    }

    .big-screen-nav-container{
        display: none;
    }

    .small-screen-nav-container{
        display: flex;
    }

    .small-screen-nav.logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .small-screen-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.125rem;
    }

    .small-screen-nav div{
        flex-basis: 500px;
        text-align: center;
    }

    .small-screen-nav a{
        font-size: 0.7rem;
        text-decoration: none;
        color: var(--danger);
        font-weight: bold;
    }

    .hamburger-menu-btn-container{
        width: 1.5rem;
        margin-right: auto;
    }

    .hamburger-menu-btn-container i{
        color: var(--danger);
    }

    .transition-page-container{
        padding-top: 0;
    }

    .transition-page-text-container{
        width: 10.063rem;
        padding: 0.6em 0.6em;
        right: 1rem;
        bottom: 1rem;
    }

    .transition-page-text-container::before{
        height: 0.15em;
    }

    .transition-page-text-container::after{
        width: 0.15em;
    }

    .transition-page-text.header-text{
        font-size: 0.8rem;
    }

    .transition-page-text.small-text{
        font-size: 0.5rem;
    }

    .carousel-inner{
        padding: 0 0.75rem 0 0.75rem;
    }

    .page-header{
        margin-left: 0.75rem;
    }

    .media-scroller-container{
        padding: 0 0.75rem 0 0.75rem;
    }

    .blog-item{
        height: 15rem;
    }

    .blog-item .blog-text-container{
        padding: 0.5rem;
    }

    .blog-item .blog-header{
        font-size: 0.7rem;
    }

    .blog-item p{
        font-size: 0.45rem;
        margin-bottom: 0.3rem;
    }

    .blog-item .blog-link{
        font-size: 0.45rem;
        bottom: 0.5rem;
    }

    .form-head{
        font-size: 0.875rem;
    }

    .txt{
        font-size: 0.75rem;
    }

    .form-hl{
        font-size: 0.75rem;
    }

    .responsive-margin{
        margin-bottom: 0.938rem;
    }

    .inq-form .form-group input,
    .inq-form .form-group textarea,
    .inq-form .form-group span{
        font-size: 0.75rem;
    }

    .inq-form .form-group .sub-butn{
        font-size: 0.75rem;
        padding: 6px 29px 6px 29px;
        background-color: var(--danger);
        color: white;
      }

    footer .footer-top{
        padding: 1.875rem 1.438rem 0 1.438rem;
    }

    .contact-info-container{
        display: none;
    }

    .contact-info-container-small-screen{
        display: block;
    }

    .contact-info-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.563rem;
    }

    .contact-info-col > div, .contact-info-col > div > a{
        font-family: 'ToyotaType';
        text-decoration: none;
        color: white;
    }

    .contact-info-col > div{
        font-weight: 600;
        font-size: 0.625rem;
        position: relative;
    }

    .contact-info-col > div > a{
        font-weight: 300;
    }

    .notice-text-container{
        margin-top: 1.25rem;
        max-width: 100%;
        padding-bottom: 15px;
        padding-left: 0;
    }

    .notice-text-container span{
        font-size: 0.455rem;
    }

    .footer-bottom{
        flex-direction: column;
        justify-content: center;
        gap: 0.625rem;
    }

    .footer-bottom span{
        font-size: 0.5rem;
        text-align: center;
    }
}

@media all and (max-width: 700px){
    .transition-page-container{
        height: 12.5rem;
    }

    .carousel-item > img{
        height: 8.563rem;
    }
}

@media all and (max-width: 450px){
    .transition-page-text-container{
        right: 0.4rem;
        bottom: 0.4rem;
    }
}

@media all and (max-width: 450px){
    .transition-page-text.small-text{
        width: 8.625rem;
    }

    .transition-page-text.header-text{
        margin-bottom: 0.2rem;
        width: 8.125rem;
    }
}

@media all and (max-width: 301px){
    .blog-item .blog-text-container{
        padding: 0.5rem;
    }

    .blog-item .blog-header{
        font-size: 0.5rem;
    }

    .blog-item p{
        width: 9rem;
        font-size: 0.4rem;
        margin-bottom: 0.15rem;
    }

    .blog-link{
        font-size: 0.35rem;
    }
}

@media all and (max-width: 290px){
    .phone-input{
        width: 120px !important;
    }
}



/********************** Dealer Page Start ****************************/

.dealer-detail-bg-color{
    background-color: #FFFFFF;
}
.custom-font{
    font-family: 'ToyotaType';
}

.custom-color{
    color: #EB0A1E;
}

.dealer-title{
    font-weight:600;
}

.contact-info{
    font-weight: 400;
}

.dealer-dropdown{
    border: none;
    /* border-bottom: 2px solid #333333; */
    border-bottom: 2px solid #0005;
    background: none;
    font-family: 'ToyotaType';
    padding: 10px 0;
}
.dealer-dropdown:hover, .dealer-dropdown:focus{
    border-bottom: 2px solid #333;
    outline: none;
}


/* .dealer-dropdown-color{
    color: #868686;
} */

.toyota-location a{
    font-family: 'ToyotaType';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    color: var(--dark);
    position: relative;
}
.toyota-location a:hover{
    color: var(--dark);
}

.back-list{
    background-color: #EEEEEE;
}
.back-list a{
    font-family: 'ToyotaType';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    color: #EB0A1E;
    position: relative;
}
.back-list a:hover{
    color: inherit;
}

.dealer-website a{
    font-family: 'ToyotaType';
    font-size: 16px;
}

.dealer-web-btn{
    width:210px;
    /* padding: 0.7em 2em !important; */
    text-align: center;
    transition: 0.3s ease;
}

.detail-description
{
    font-family: 'ToyotaType';
    font-weight: 400;
    text-align: justify;
}

.inquiry-modal .modal-header{
    border-bottom: none;
}

.back-to-top a{
    font-family: 'ToyotaType';
    font-weight: 400;
    font-size: 16px;
    color: #101010;
}

.back-to-top a:hover
{
    color: #EB0A1E;
}

/* .search-city{
    border:none !important;
    border-bottom: 2px solid black !important;
} */

.search-city:focus{
    outline: none;
}

.join-with-us a{
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--dark);
    margin: 0 7px;
    transition: 0.1s ease;;
}
.join-with-us a:hover{
    color: #000;
    scale: 1.1;;
}
.star-list{
    --star-width: 25px;
    position: relative;
    padding-left: calc(var(--star-width) + 5px);
    padding-bottom: 15px;
    /* text-align: justify; */
}
.star-list::before{
    content: '';
    background: #f2c94c;
    clip-path: polygon(50% 0%, 64% 29%, 98% 35%, 73% 58%, 79% 91%, 50% 75%, 21% 91%, 26% 58%, 2% 35%, 35% 29%);
    width: var(--star-width);
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: 0;
}

/* Dealer Page  End  */

/* blog contents(override bootstrap) */

.link-div
{
    margin-bottom: 30px;
}

.home-link
{
    font-family: 'ToyotaType' !important;
    font-weight: 400;
    text-decoration: none;
    color: var(--danger);

}


.home-link:hover{
    color: var(--danger);
}


/* .blog-head

{
    margin: 30px 0 0 80px;
} */

.header-text
{
    font-family: 'ToyotaType';
    font-weight: 600;
}

.filter
{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background: none !important;
    border-radius: 0 !important;
    color: #5B5858 !important;
    font-family: 'ToyotaType' !important;
    font-weight: 300;
    margin: 30px 0 30px ;
    width: 600px;
    text-align: left !important;

}

.promotion-body .filter{
    width: 100%;
}

.promotion-body .dropdown-arrow{
    margin: 0;
}

.dropdown-arrow
{
    margin-left: 400px;
}

.blog-img
{
    min-width: 400px;
}

.blog-img.img-fluid{
    width: 100%;
    max-height: 22.5rem;
}

@media all and (max-width: 350px){
    .readmore-and-share-links-container{
        flex-direction: column;
    }

    .readmore-and-share-links-container > div{
        padding-top: 3rem !important;
    }
}

@media all and (max-width: 502px){
    .blog-img{
        min-width: 200px;
    }

    .filter-row{
        flex-direction: column;
    }
}



.blogs-link {
    height: 2rem;
    font-size: 0.95rem;
    font-family: 'ToyotaType' !important;
    font-weight: 300;
    border-top: 1px solid var(--danger);
    border-right: 1px solid var(--danger);
    text-decoration: none;
    color: var(--danger);
    padding: 0.313em 1em;
    /* margin-top: 49px; */
}

.blogs-link:hover
{
    color: var(--danger);
}

.blog-contents
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.blog-accordion-img-container{
    /* height: 15.938rem; */
    height: 100%;
    overflow: hidden;
}

.blog-accordion-content .card-text{
    color: #5B5858;
}

.blog-accordion-content .readmore-and-share-links-container .share-text, .blog-accordion-content .readmore-and-share-links-container .share-links-container i{
    color: white;
}

.readmore-and-share-links-container .share-text{
    margin-top: -2rem;
}

.collapse-btn{
    border: none !important;
}

.plus-and-minus-sign-container{
    position: relative;
}

.plus-and-minus-sign-container i{
    position: absolute;
    transition: transform 0.5s ease;
    opacity: 0;
}

.plus-and-minus-sign-container i.active{
    transform: rotate(180deg);
    opacity: 1;
}

.link-friends
{
    font-family: 'ToyotaType' !important;
    font-weight: 300;
    float: right;
    /* margin-top: 40px; */
    color: var(--dark);
}

.link-friends:hover
{
    color: var(--dark);
}

.link-friends-article
{
    text-decoration: underline;
    font-family: 'ToyotaType' !important;
    font-weight: 300;
    color: white;
}

.link-social
{
    color: var(--dark);
}

.link-social.social-links-container{
    justify-content: start;
}

.social-icon
{
    color: white !important;
}

.article-title
{
    color: white !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*  number of lines to show */
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.collapse-btn
{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    color: #5B5858 !important;
    font-family: 'ToyotaType' !important;
    font-weight: 300;
}

.collapse-toggle
{
    float: right;
    color: #d10a1a !important;
}

.article-head
{
    font-family: 'ToyotaType';
    font-weight: 600;
    padding: 15px 5px 5px 15px;
}



	/* Custom style */
    /* .collapse-toggle::after {
        background-image: url("img/plus.jpg")!important;
        transform: scale(.7) !important;
      }
    .collapse-toggle:not(.collapsed)::after {
        background-image: url("img/minus.jpg")!important;
      } */


/* Promotion Page */
.promotion-body{
    background: var(--Dwhite);
}

.promotion-body .col-lg-6{
    overflow: hidden;
}

.promotion-body .home-link{
    text-decoration: none;
    color: var(--danger);
}

.promotion-body .page-header{
    font-size: 2.375rem;
    margin-left: 0;
}

.sort-by-container button{
    border: 1px solid #000000;
    font-family: 'ToyotaType';
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.2em 1.5em;
    transition: all 0.2s ease;
    background: white;
    border-radius: 0.125rem;
}

.sort-by-container button:hover{
    color: white;
    background-color: var(--dark);
}

.sort-by{
    font-family: 'ToyotaType';
    font-weight: 400;
    font-size: 1.125rem;
    gap: 0.813rem;
}

.toyota-select{
    width: 12.063rem;
    font-family: 'ToyotaType';
    font-weight: 300;
    font-size: 1.125rem;
    border: none !important;
    border-bottom: 1px solid #0005 !important;
    background: transparent !important;
    border-radius: 0 !important;
}

.toyota-select option{
    font-family: 'ToyotaType';
    font-weight: 300;
    font-size: 1.125rem;
}
.toyota-select:focus, .toyota-select:hover{
    border-bottom: 1px solid var(--dark) !important;
    outline: none;
}

.stay-informed-container .toyota-select{
    font-family: 'ToyotaType';
    font-weight: 400;
    font-size: 1rem;
}

.toyota-select.blog-filter{
    width: 100%;
}

.promotion-posts-container{
    margin-bottom: 3.875rem;
}

.promotion-posts-container .row .col-lg-6{
    height: 47.5rem;
    background-color: white;
}

.promotion-img{
    height: 41.5rem;
    /* object-position: top; */
    object-fit: cover;
}

.promotion-texts-container .promo-deadline{
    font-family: 'ToyotaType';
    font-weight: 400;
    font-size: 1rem;
    color: var(--danger);
}

.promotion-texts-container p{
    font-family: 'ToyotaType';
    font-weight: 400;
    font-size: 1.25rem;
}

/* .promotion-texts-container button{
    border: 1px solid #000000;
    background: transparent;
    font-family: 'ToyotaType';
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5em 2em;
    transition: all 0.2s ease;
} */

.btn-outline-dark{
    text-decoration: none !important;
    border: 1px solid #000000;
    background: transparent;
    font-family: 'ToyotaType';
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5em 2em;
    transition: all 0.2s ease;
}

.btn-outline-dark:hover{
    background: var(--dark);
    color: white;
}

.share-text{
    text-decoration: underline;
}

.share-links-container i{
    color: black;
    font-size: x-large;
}

.share-links-container{
    gap: 1rem;
}

#social-links ul{
    padding-left: 0;
}
#social-links ul li {
    display: inline-block;
}

#social-links ul li a {
    padding-right: 1rem;
    font-size: 25px;
}

#social-links .fa-facebook-square, #social-links .fa-linkedin{
     color: #000000 !important;
}

.social-btn-sp.blog-accordion-item #social-links .fa-facebook-square, .social-btn-sp.blog-accordion-item #social-links .fa-linkedin{
    color: #FFFFFF !important;
}

@media all and (max-width: 408px){
    .promotion-body .page-header{
        font-size: 1.5rem;
    }

    .promotion-texts-container p{
        font-size: 0.8rem;
    }
}


/* Stay Informed */
.stay-informed-container *{
    font-family: 'ToyotaType';
}

.stay-informed-container .form-header h1{
    padding-left: 0;
    font-weight: 700 !important;
}

.stay-informed-container .input-row label{
    font-weight: 600;
}

.stay-informed-container .input-row label.header-label{
    padding-left: 0;
}

.stay-informed-container .input-row input{
    font-size: 1rem;
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid var(--dark) !important;
}

.stay-informed-container .input-row input:focus, .stay-informed-container .input-row input:active{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.stay-informed-container .input-row .toyota-select{
    width: 5em;
}

.stay-informed-container .input-row .phone-input-container{
    width: 100%;
}

.stay-informed-container .input-row .stayinformed-input{
    padding-left: 0;
}

.stay-informed-container .input-row .phone-input-container > input{
    padding-left: 2.1rem;
}

.stay-informed-container .input-row input::placeholder{
    font-weight: 300;
}

.stay-informed-container .input-row .checkbox{
    width: 1.25rem;
    height: 1.25rem;
    padding-top: 0 !important;
}

.stay-informed-container .input-row .checkbox-label{
    font-size: 0.875rem;
    font-weight: 300;
}

.form-submit-btn{
    all: unset;
    font-family: 'ToyotaType';
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em 2em;
    color: white;
    background: var(--danger);
}

/* Bootstrap Modal Customize */
.promotion-body .modal-dialog{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
}

.promotion-body .modal-dialog .modal-header{
    border: none;
}

.promotion-body .modal-dialog .modal-content{
    border-radius: 0;
    border: none;
}

.filter-type-header{
    font-family: 'ToyotaType';
    border-bottom: 0.3px solid #333333;
}

.filter-checkbox > input{
    width: 1.2rem;
    height: 1.2rem;
}

.filter-checkbox > label{
    font-family: 'ToyotaType';
    color: #828282;
}

input[type="date"]{
    font-family: 'ToyotaType';
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    width: 100%;
    padding: 0;
    border: none;
    border-bottom: 1px solid #333333;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
}

.promotion-body .modal-footer{
    border: none;
}

.promotion-body .modal-footer button{
    margin: 0;
    border: none;
}

/* Scroll-bar */
/* width */
::-webkit-scrollbar {
    width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--danger);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--danger);
}

/* Promotion page responsive */
@media all and (max-width: 992px){
    /* .promotion-posts-container .row .col-lg-6{
        height: 20rem !important;
        } */

    .promotion-posts-container .row .col-lg-6.promotion-texts-container{
        order: 1;
    }

    .promotion-posts-container .row .col-lg-6.promotion-img-container{
        order: 2;
    }
}




  .nav-position
  {
   color:darkblue;
  }


@media all and (max-width: 793px){
    .promotion-header-and-filter-container{
        flex-direction: column;
    }

    .promotion-header-and-filter-container h2{
        margin-bottom: 1rem !important;
    }

    .promotion-header-and-filter-container div{
        flex-direction: column;
    }
}

@media all and (max-width: 482px){
    .stay-informed-container .phoneNumber-container{
        flex-direction: column;
        align-items: flex-start !important;
    }

    .stay-informed-container .phone-number-label{
        margin-bottom: 1.5rem;
    }

    .stay-informed-container .input-row .phone-input-container > input{
        padding-left: 0;
    }
}


/* blogs detail */

.details-container
{
    max-width: 900px;
    margin: auto;
}

.detail-content-container
{
    margin-top: 50px;
    font-weight: 400;
}

.b-detail
{
    line-height: 40px;
}

#myImg {

    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
  }

  #myImg:hover {opacity: 0.7;}


  /* Add Animation */
  .modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  .blog-detail-carousel, .blog-detail-carousel-image{
    width: 36.125rem !important;
    height: 20.375rem !important;
  }

  /* The Close Button */

  .modal-button-container
  {
    position: fixed;
    background-color:rgba(33, 33, 33, 0.55);
    padding: 10px;
    top: 0;
    right: 0;
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .close {
    /* position: absolute; */
    /* top: 200px;
    right: 30px; */
    color: #f1f1f1;
    font-size: 2em;
    font-weight: bold;
    transition: 0.3s;

  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .zoomin {
    /* position: absolute; */
    /* top: 350px;
    right: 15px; */
    border: none;
    background:transparent;
    margin: 75px 0;
  }

  .zoomout {
    /* position: absolute; */
    /* top: 500px;
    right: 15px; */
    border: none;
    background:transparent;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  @media only screen and (max-width: 620px){
    .blog-detail-carousel, .blog-detail-carousel-image{
        width: 21.125rem !important;
        height: 8.375rem !important;
      }
  }

  @media only screen and (max-width: 365px){
    .blog-detail-carousel, .blog-detail-carousel-image{
        width: 15.125rem !important;
        height: 6.375rem !important;
      }
  }

  .slider-toggle{
    all: unset;
    position: absolute;
    border: none;
    cursor: pointer;
    background-color: #fff5 !important;
    bottom: -2.2em;
    right: 0;
    z-index: 1;
    border-radius: 5px;
    display: grid;
    place-items: center;
    font-size: 1.5em;
    color: #000;
    padding: 3px;
    backdrop-filter: blur(3px);
    margin: 10px;
}
.slider-toggle:hover i{
    scale: 1.2;
}


.select-service
{
    font-family: 'ToyotaType';
}

.carousel-item.blog-item{
    position: relative;
}



/* .map-container {
	width: 100%;
	margin: 50px 0 3000px;
} */
.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}

/* Validation error */
.form-error{
    font-size: 0.8rem;
    color: var(--danger);
}

/* mobile country code */
.intl-tel-input,
.iti{
  width: 100%;
}



/* ============================================= Transition Page End =========================== */
